/* 상담 기록 탭의 상담기록의 min-height 와 동일하게 지정해야 클릭시 textarea가 활성화됨 */
div.DraftEditor-root {
  min-height: 8rem;
}
div.DraftEditor-editorContainer {
  min-height: 8rem;
}
div.public-DraftEditorPlaceholder-root {
  min-height: 8rem;
}
div.public-DraftEditor-content {
  min-height: 8rem;
}
